$firstColor: black;



* {
  padding: 0;
  margin: 0;
}
p{
  line-height: 1.6rem;
}
body{
  font-family: "Open Sans", sans-serif;
}
h1,h2,h3{
  font-family: "DM Serif Text", serif;
}

h1{
  font-size: 2.5rem !important;
}
h2{
  font-size: 2rem !important;
}
h3{
  font-size: 1.5rem !important;
}
main {
  max-width: 1200px;
  padding: 30px;
  margin: 0 auto;
}

header {
  background-color: $firstColor;
  background-color: black;
  padding: 30px;
}
header img {
  width: 130px;
}

.contenuPrincipal {
  &__presentation{
     background-color: rgb(225, 190, 195);
  }
  &__img {
    max-width: 250px;
    aspect-ratio: 5/5;
    object-fit: cover;

  }
  &__titre {
    font-size: 3.5rem;
    padding-bottom: 30px;
  }
  &__p{
    max-width: 60ch;
    text-align: justify;
    align-content: flex-end;
  }
}
li a {
  color: white;
}

// .contenuProjets {
//   height: 200px;
//   border: 1px solid black;
//   margin-bottom: 30px;
//   margin-top: 30px;
//   display: flex;
//   justify-content: center;
//   align-items: center; 
//   background-color: pink;
// }

.heroContact{
  @extend .conteneur
}



footer{
    background-color: black;
    color:white;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.conteneur{
      height: 200px;
 
  margin-bottom: 30px;
 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: rgb(255, 213, 220);
   
}




